[Unit]
Description=Gunicorn instance to serve up TeacherPrints website
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/project/teacherprints/webapp
Environment='/home/tpwebsite/.conda/envs/run_website    /bin'
ExecStart=/home/tpwebsite/.conda/envs/pyannote/bin/gunicorn --workers 4 --bind unix:teacherprints.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target


# This file makes the following assumptions:
# It is living at /etc/systemd/system/teacherprints.service
# There is a user called tpwebsite` who is a member of the group `www-data`
# There is a conda env called pyannote located at /home/tpwebsite/.conda/envs/pyannote
# The `gunicorn` application has been installed in that env


# This follows the instructions here:
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04
# Issues resolved via:
# https://github.com/systemd/systemd/issues/6019
# https://stackoverflow.com/questions/43809618/running-gunicorn-on-ubuntu-in-a-conda-environment
# https://www.ridgesolutions.ie/index.php/2019/08/13/launching-flask-on-port-80-without-using-sudo/
# https://gist.github.com/SRatna/f09dd67a1d3bcf7c886b5f7aa21976e0