server {
    listen 80;
    server_name testingthislocally.org www.testingthislocally.org;

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/projects/teacherprints/teacherprints.sock;
    }
}


# This file should not have a `.nginx` suffix. However, for the purposes of our version control,
# we're keeping this in the same folder as the `teacherprints.service` file.
# So we're naming it with the `.nginx` suffix for the purposes of differentiation.
# When it is time to deploy, it must be renamed and relocated to
# /home/tpwebsite/.conda/envs/run_website/etc/nginx/sites-available/teacherprints
#
# (Per the tutorial it should go to `/etc/nginx/sites-available/teacherprints`,
# but that did not exist because conda places /etc/nginx within the relevant env
#
# Then
# `$ sudo ln -s /etc/nginx/sites-available/myproject /etc/nginx/sites-enabled`
# `$ sudo nginx -t`
# if no errors
# `$ sudo systemctl restart teacherprints` (NOT `$ sudo systemctl restart teacherprints`) per the tutorial


# This file is configured according to the tutorial here:
# https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04
# https://websiteforstudents.com/how-to-install-nginx-on-ubuntu-20-04-18-04/