{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ _('Sign In') }}</h1>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>
{# <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <span style='color:red;'>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
#}
<p>{{ _('New user?') }} <a href="{{ url_for('register') }}">{{ _('Click to register!') }}</a></p>
<p>
    {{ _('Forgot your password?') }}
    <a href="{{ url_for('reset_password_request') }}">{{ _('Click to reset it') }}</a>
</p>
{% endblock %}
<!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-iii-web-forms -->